
a {
  color: white;
  font-style: italic;
}

a:hover {
  font-weight: bold;
}

.app {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.authForm > div > input {
  width: 400px;
  height: 40px;
  margin: 10px;
  text-align: center;
  font: 20px solid black;
  border-radius: 10px;
}

.dashboard {
  border: 1px solid black;
}

html {
  background-color: #18252e;
  color: white;
}

.landing {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.signIn {
  margin: 10px;
}

.tile {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.tile-container {
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: middle;
}

.tile-text {
  display: none;
}

.nav-bar {
  border: 1px solid black;
}

