
.app {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.tile {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.tile-container {
  border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: middle;
}

.tile-text {
  display: none;
}

